body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 12px;
  color: 34769C;
}

h1 {
  font-size: 120%;
  font-weight: bolder;
  color: #34769C;
}

h2 {
  font-size: 100%;
  font-weight: normal;
  float: right;
  padding-top: 2%;
}

h3 {
  font-size: 100%;
  font-weight: bold;
}

h4 {
  font-size: 90%;
  font-weight: lighter;
}

img {
  width: 375px;
}

figure {
margin: 0 auto;
  position: fixed;
}

.blank {
  height: 360px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 375px;
}


ol {
  margin: 0 auto;
  border: .02px solid #888888;
  background-color: #ffffff;
  padding: 3%;
  width: 375px;
  line-height: 50%;
}

ol:hover { background-color: #eaeaea}
.reroute:hover { background-color: #e6db5a}
.outofservice:hover { background-color: #d47070}

.reroute {
  margin: 0 auto;
  border: .02px solid #888888;
  padding: 3%;
  width: 375px;
  line-height: 50%;
  background-color: #FFF362;
}

.outofservice {
  margin: 0 auto;
  border: .02px solid #888888;
  padding: 3%;
  width: 375px;
  line-height: 50%;
  background-color: #FF8686;
}
